:root {
    --accent: #08f;
    --accent-opacity: rgba(0, 136, 255, 0.6);
    --primary: #eee;
    --primary-opacity: rgba(255,255,255,0.3);
    --secondary: #111;
    --secondary-opacity: #121212;
    --background: #101010;
    --opacity: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 { color: var(--accent); }
h1 { font-size: xxx-large; }
h2 { font-size: xx-large; }
p { font-size: larger; }

a {
    color: var(--primary);
}
a:hover {
    color: var(--accent);
}

hr {
    color: var(--accent);
}

html {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--background);
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

body {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: 100vh;
    max-width: 1250px;
    padding: 0 1em;
    margin: auto;
    /* background-color: var(--background); */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-grow: 1;
    height: fit-content;
    margin: 40px 0;
    padding-top: 3em;
}

.unselectable, .btn, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hb {
    width: 100%;
    height: 2px;
    background-color: var(--primary-opacity);
}

.wrapper {
    /* width: 100%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2em; */
}

.glowing {
    box-shadow: 0 0 5px 5px var(--accent);
    transition: box-shadow 0.5s;
}

.glowing-hover {
    transition: box-shadow 0.5s;
}

.glowing-hover:hover {
    box-shadow: 0 0 3px 3px var(--accent);
}

.rounded {
    border-radius: 0.5em;
}

.box {
    padding: 0.5em;
    border: 1px solid var(--primary-opacity);
    background-color: var(--secondary-opacity);
}

.skills svg {
    transition: transform 0.2s;
}

.skills svg:hover {
    transform: scale(1.2);
}

.btn {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    border: 1px solid var(--accent);
    background-color: var(--secondary-opacity);
    transition: transform 0.2s ease-in-out;
    animation: popup 0.5s;
    transition: box-shadow 0.5s;
}

.btn:hover {
    box-shadow: 0 0 3px 3px var(--accent);
    /* transform: scale(1.1); */
}


@keyframes popup {
    0%{
      transform: scale(0.6);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
      transform: scale(1);
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        margin: 20px;
    }
}