---
import Layout from '../layouts/Layout.astro';
import Skill from '../components/Skill.astro';
import Javascript from '../resources/svg/javascript.astro';
import Python from '../resources/svg/python.astro';
import Rust from '../resources/svg/rust.astro';
import Nodejs from '../resources/svg/nodejs.astro';
import Bun from '../resources/svg/bun.astro';
import Tastro from '../resources/svg/astro.astro';
import Certificates from '../components/Certificates.astro';
---

<Layout title="Pigges" description="Hi! I'm Philip. Welcome to my website!">
	<div class="wrapper">
		<div class="hero">
			<div class="left">
				<h1 class="title">Hello, I'm <span class="name">Pigges</span></h1>
				<p>
					Philip Ahlqvist, an 18-year-old enthusiast from Sweden &#127480&#127466,<br>
					who is deeply passionate about computer programming.<br>
					I'm always seeking fascinating new projects to dive into.<br><br>
					<em>Projects section in the works.</em>
				</p>
				<div class="skills">
					<Skill category="languages">
						<div class="skill" title="Javascript"><Javascript/></div>
						<div class="skill" title="Python"><Python/></div>
						<div class="skill" title="Rust"><Rust/></div>
					</Skill>
					<Skill category="frameworks">
						<div class="skill" title="NodeJS"><Nodejs/></div>
						<div class="skill" title="Bun"><Bun/></div>
						<div class="skill" title="Astro"><Tastro/></div>
					</Skill>
				</div>
			</div>
			<div class="right unselectable">
				<img src="/assets/programming.svg" alt="an image of a person sitting at a computer and programming">
			</div>
		</div>
	</div>
	<div class="hb"></div>
	<Certificates/>
</Layout>

<style>
	.hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hero .left {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.hero .left .title {
		font-size: 2rem;
		font-weight: normal;
	}

	.hero .left .title .name {
		font-weight: bold;
		color: #08f;
	}

	.hero .left .btn svg {
		fill: var(--primary);
		width: 1.2rem;
	}

	.skills {
		display: flex;
		gap: 40px;
	}

	.skills .skill {
		width: 2rem;
	}

	.hero .right {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;
		padding: 10px 20px;
		border-radius: 20px;
		background-color: var(--secondary-opacity);
		box-shadow: 0px 4px 4px var(--primary-opacity);
	}

	.hero .right img {
		width: 75%;
		max-width: 500px;
	}

	@media only screen and (max-width: 1000px) {
		.hero {
			flex-direction: column;
			margin: auto;
			gap: 40px;
			width: fit-content;
		}

		.hero .left .skills {
			justify-content: center;
		}

		.hero .right {
			width: 100%;
		}
	}

	@media only screen and (max-width: 500px) {
		.hero {
			flex-direction: column;
			margin: auto;
			gap: 40px;
			width: fit-content;
		}

		.hero .left {
			/* align-items: center; */
		}

		.hero .left .title, .hero .left p {
			text-align: center;
		}

		.hero .left .skills {
			text-align: center;
			flex-direction: column;
			align-items: center;
		}

		.hero .right {
			display: none;
		}
	}
</style>
