---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Link Tree" description="Here is a list of places where you can find me.">
    <div class="wrapper">
        <div class="title">
            <h1>Link Tree</h1>
            <p>Here is a list of places where you can find me.</p>
        </div>
        <div class="links">
            <a href="https://www.linkedin.com/in/philip-ahlqvist-4b93b0250" rel="nofollow" target="_blank" class="link">
                <svg viewBox="0 0 77 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.883301 6.24542C0.883301 3.22969 3.39001 0.78349 6.48236 0.78349H71.0515C74.1438 0.78349 76.6506 3.22969 76.6506 6.24542V71.5696C76.6506 74.5863 74.1438 77.0315 71.0515 77.0315H6.48236C3.39001 77.0315 0.883301 74.5863 0.883301 71.5696V6.24542Z" fill="#006699"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8509 64.611V30.1807H12.407V64.611H23.8509ZM18.1289 25.4799C22.1196 25.4799 24.6036 22.836 24.6036 19.5319C24.5292 16.1535 22.1197 13.583 18.2046 13.583C14.29 13.583 11.7305 16.1535 11.7305 19.5319C11.7305 22.836 14.2138 25.4799 18.0543 25.4799H18.1289Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.1831 64.611H41.627V45.3837C41.627 44.3546 41.7013 43.3266 42.0035 42.5911C42.8308 40.5351 44.7138 38.4057 47.8752 38.4057C52.0163 38.4057 53.6728 41.5631 53.6728 46.1916V64.611H65.1157V44.8692C65.1157 34.2937 59.4699 29.3728 51.9407 29.3728C45.767 29.3728 43.0567 32.8236 41.5509 35.174H41.6273V30.1807H30.1834C30.3336 33.4114 30.1831 64.611 30.1831 64.611Z" fill="white"/>
                </svg>
                <h3>LinkedIn</h3>
            </a>
            <a href="https://github.com/Pigges" rel="nofollow" target="_blank" class="link">
                <svg viewBox="0 0 77 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_209_35)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M38.1672 0.5C17.0617 0.5 0 17.6875 0 38.9508C0 55.9477 10.932 70.3352 26.0977 75.4273C27.9937 75.8102 28.6883 74.6 28.6883 73.582C28.6883 72.6906 28.6258 69.6351 28.6258 66.4516C18.0086 68.7437 15.7977 61.868 15.7977 61.868C14.0914 57.4117 11.5633 56.2664 11.5633 56.2664C8.08828 53.9109 11.8164 53.9109 11.8164 53.9109C15.6711 54.1656 17.6938 57.8578 17.6938 57.8578C21.1055 63.7141 26.6031 62.0594 28.8148 61.0406C29.1305 58.5578 30.1422 56.8391 31.2164 55.8844C22.7484 54.993 13.8391 51.6828 13.8391 36.9133C13.8391 32.7117 15.3547 29.2742 17.7563 26.6008C17.3773 25.6461 16.05 21.6984 18.1359 16.4148C18.1359 16.4148 21.3586 15.3961 28.625 20.3617C31.736 19.52 34.9443 19.0919 38.1672 19.0883C41.3898 19.0883 44.675 19.5344 47.7086 20.3617C54.9758 15.3961 58.1984 16.4148 58.1984 16.4148C60.2844 21.6984 58.9562 25.6461 58.5773 26.6008C61.0422 29.2742 62.4953 32.7117 62.4953 36.9133C62.4953 51.6828 53.5859 54.9289 45.0547 55.8844C46.4453 57.0937 47.6453 59.3852 47.6453 63.0141C47.6453 68.1703 47.5828 72.3086 47.5828 73.5812C47.5828 74.6 48.2781 75.8102 50.1734 75.4281C65.3391 70.3344 76.2711 55.9477 76.2711 38.9508C76.3336 17.6875 59.2094 0.5 38.1672 0.5Z" fill="#EEEEEE"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_209_35">
                    <rect width="76.5625" height="75" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                    </defs>
                </svg>                    
                <h3>Github</h3>
            </a>
            <a href="https://twitter.com/Pigges117" rel="nofollow" target="_blank" class="link">
                <svg viewBox="0 0 74 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43.6754 32.2574L70.9955 0.5H64.5215L40.7995 28.0745L21.8528 0.5H0L28.6511 42.1975L0 75.5H6.47435L31.5254 46.3804L51.5345 75.5H73.3873L43.6738 32.2574H43.6754ZM34.8079 42.5649L31.905 38.4127L8.80715 5.3738H18.7514L37.3916 32.0373L40.2945 36.1894L64.5246 70.8479H54.5803L34.8079 42.5665V42.5649Z" fill="white"/>
                </svg>                                    
                <h3>Twitter (X)</h3>
            </a>
            <a href="https://discord.com/invite/3uRgDMu" rel="nofollow" target="_blank" class="link">
                <svg viewBox="0 0 128 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M107.7 8.07C99.3467 4.24568 90.5282 1.53258 81.4699 0C80.2304 2.21588 79.1088 4.49573 78.1099 6.83C68.461 5.37602 58.6488 5.37602 48.9999 6.83C48.0005 4.49597 46.8789 2.21615 45.6399 0C36.5758 1.54552 27.7515 4.26506 19.3899 8.09C2.7899 32.65 -1.7101 56.6 0.539904 80.21C10.2613 87.3926 21.1423 92.8551 32.7099 96.36C35.3146 92.8568 37.6194 89.1403 39.5999 85.25C35.8382 83.8451 32.2076 82.1117 28.7499 80.07C29.6599 79.41 30.5499 78.73 31.4099 78.07C41.4709 82.8014 52.4519 85.2546 63.5699 85.2546C74.6879 85.2546 85.6689 82.8014 95.7299 78.07C96.5999 78.78 97.4899 79.46 98.3899 80.07C94.9256 82.115 91.2882 83.8517 87.5199 85.26C89.498 89.1485 91.8029 92.8619 94.4099 96.36C105.987 92.8691 116.877 87.4092 126.6 80.22C129.24 52.84 122.09 29.11 107.7 8.07ZM42.4499 65.69C36.1799 65.69 30.9999 60 30.9999 53C30.9999 46 35.9999 40.26 42.4299 40.26C48.8599 40.26 53.9999 46 53.8899 53C53.7799 60 48.8399 65.69 42.4499 65.69ZM84.6899 65.69C78.4099 65.69 73.2499 60 73.2499 53C73.2499 46 78.2499 40.26 84.6899 40.26C91.1299 40.26 96.2299 46 96.1199 53C96.0099 60 91.0799 65.69 84.6899 65.69Z" fill="#FFFFFF"/>
                </svg>                                                     
                <h3>Discord Server</h3>
            </div>
        </div>
    </div>
</Layout>
<style>
    .title {
        text-align: center;
        margin-bottom: 25px;
    }
    .links {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 750px;
        max-width: 75%;
        gap: 25px;
        margin: auto;
    }

    .links .link {
        display: flex;
        align-items: center;
        gap: 10px;
        min-width: 250px;
        width: calc(50% - 65px);
        border-radius: 20px;
        padding: 15px 20px;
        text-decoration: none;
        background-color: var(--secondary-opacity);
        box-shadow: 0px 4px 4px var(--primary-opacity);
        transition: 0.3s;
    }

    .links .link:hover {
        transform: scale(1.1);
    }

    .links .link svg {
        height: 2.5rem;
    }
</style>