---
import Badge from './Badge.astro';

const data = await(await fetch("https://www.credly.com/users/philip-ahlqvist/badges", {
  headers: {
    "Accept": "application/json"
  }
})).json();

console.log(data);
---

<div id="certificates" class="wrapper">
    <h2 class="title">Certificates</h2>
    <div class="badges">
      {data.data.map(c=>(
      <Badge id={c.id} name={c.badge_template.name} img={c.badge_template.image_url}/>
      ))}
    </div>
</div>
<style>
    #certificates .title {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 10px;
	}

	#certificates .badges {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		width: fit-content;
    transition: 0.2s;
	}

    @media only screen and (max-width: 1000px) {
		#certificates .badges {
			margin: auto;
		}
	}

    @media only screen and (max-width: 500px) {
		#certificates .title {
			text-align: center;
		}
	}
</style>
