---
import Badge from './Badge.astro';
---

<div id="certificates" class="wrapper">
    <p class="title">Certificates</p>
    <div class="badges">
        <Badge id="92ff15f2-3075-45d9-90eb-e910935a17f1" name="IT Specialist - Device Configuration and Management" img="https://images.credly.com/size/{res}/images/cd50df53-14eb-427b-8cae-2f09d5b15b41/ITS-Badges_Device-Configure_1200px.png"/>
        <Badge id="84b347c4-fc18-4c10-bddb-ad8a8c9d94dc" name="IT Specialist - Python" img="https://images.credly.com/size/{res}/images/3c4602d8-832e-4a24-b42d-00359ce746f7/ITS-Badges_Python_1200px.png"/>
		<Badge id="d3f299d7-5e89-4099-a3a5-eb7f01cb9859" name="IT Specialist - Networking" img="https://images.credly.com/size/{res}/images/6713c2e4-0562-4a4f-ad1b-27a0069491d8/ITS-Badges_Networking_1200px.png"/>
    </div>
</div>
<style>
    #certificates .title {
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 10px;
	}

	#certificates .badges {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		width: fit-content;
		transition: 0.2s;
	}

    @media only screen and (max-width: 1000px) {
		#certificates .badges {
			margin: auto;
		}
	}

    @media only screen and (max-width: 500px) {
		#certificates .title {
			text-align: center;
		}
	}
</style>